
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<!--https://getbootstrap.com/docs/5.3/components/card/#card-groups-->
@section Scripts{
    <script src="~/js/travel.js"></script>
    <script>
        console.log(spots.CommonFormat.Section);
    </script>
}
