
@{
    ViewData["Title"] = "First";
}

<h1>First Ajax Demo</h1>
<input type="button" class="btn btn-primary mb-3" value="Ajax 開始" id="buttonStart" />
<input type="button" class="btn btn-primary mb-3" value="Ajax 停止" id="buttonStop" />
<img src="~/images/inlove.gif" style="display:none" id="img1" />
<div class="alert alert-info" id="divInfo"></div>

@section Scripts{
    <script>
        const btnStart = document.querySelector('#buttonStart');
        const btnStop = document.querySelector('#buttonStop');
        const divInfo = document.querySelector('#divInfo');
        const imgLoader = document.querySelector('#img1');
        let abortController;
        //停止Ajax程式的執行
        btnStop.addEventListener('click', () => {
            if (abortController) {
                abortController.abort();
            }
        })

        btnStart.addEventListener('click', async () => {
                try {
                    //顯示執行中的圖
                    imgLoader.style.display = "inline";
                    //disable button
                    btnStart.setAttribute('disabled', 'disabled');
                    btnStart.value = "執行中...";

                    abortController = new AbortController();
                    const signal = abortController.signal;

                    //5秒鐘沒有回傳結果就停止程式的執行
                    setTimeout(() => {
                        abortController.abort();
                    },5000)

                const response = await fetch('@Url.Content("~/api/index")', { signal });
                    if (!response.ok) {
                        throw new Error(`${response.status}`);
                    }
                    const data = await response.text();
                    divInfo.innerHTML = `<h3>${data}</h3>`;
                } catch (error) {
                // console.log(error.name);
                // console.log(error.message);
                    let message = error.messsage;
                if (error.name === "AbortError"){
                    message = "伺服器忙碌中，請稍後再來"
                }
                    divInfo.innerHTML = `<h3>${message}</h3>`;
                }finally{
                    console.log('finally');
                    //隱藏執行中圖示
                imgLoader.style.display = "none";
                btnStart.removeAttribute('disabled');
                btnStart.value = "Ajax 開始";
                }
          

            // //ajax
            // console.log(fetch("/api/index"));
            //    fetch('@Url.Content("~/api/index")')
            //     .then(response => {
            //         //處理錯誤                 
            //             if (!response.ok) {
            //                  throw new Error(`有錯誤：${response.status}`);
            //             }
            //             console.log(response);  //{}
            //             //console.log(response.text());  //promise
            //             //讀取 response header 中的資料
            //             response.headers.forEach((value, name) => {
            //                 console.log(`${name}：${value}`)
            //             })
            //             console.log(response.headers.get('Content-Length'));
            //             console.log(`OK: ${response.ok}`);
            //             console.log(`Status：${response.status}`);
            //             return response.text();  //從body中取文字資料  
            //     })
            //     .then(data => {
            //         console.log(data);
            //         divInfo.innerHTML = `<h3>${data}</h3>`;
            //     })
       
            
           
        })


    </script>
}