
@{
    ViewData["Title"] = "JsonTest";
}

<h1>JsonTest</h1>
<ul></ul>

@section Scripts{
    <script>
        const emps =  [{ "name": "Tom", "workYears": 3, "salary": 35000 },
        { "name": "Jack", "workYears": 5, "salary": 40000 },
        { "name": "Mary", "workYears": 7, "salary": 45000 }];
       
        //console.log(emps);

        //讀取JSON資料

        //顯示在網頁上

    </script>
}
