
@{
    ViewData["Title"] = "Spots";
}

<h1>Spots</h1>
<<<<<<< HEAD
    <div class="col-3"></div>
    <div class="col-6">
        <nav aria-label="Page navigation example">
            <ul class="pagination" id="ul1">
            </ul>
        </nav>
    </div>
    <div class="col-3">
        <input type="search" class="form-control" placeholder="景點搜尋" id="inputKeyword" />
    </div>
</div>

<div class="row row-cols-1 row-cols-md-3 g-4" id="div1">
 
  
   
</div>

@section Scripts{
    <script>
        const div1 = document.querySelector('#div1');
        const ulPaging = document.querySelector('#ul1');
        const inpKeyword = document.querySelector('#inputKeyword');
        const searchData = {
            "categoryId": 0,
            "keyword": "北投",
            "page": 1,
            "pageSize": 9,
            "sortType": "asc",
            "sortBy": ""
        };

        const loadSpots = async () => {
            const response = await fetch('@Url.Content("~/api/spots")', {
                "method":"POST",
                "body":JSON.stringify(searchData),
                "headers": {"Content-Type":"application/json"}
            });
            const datas = await response.json();
           // console.log(datas.spotsResult);
            //讀資料、顯示資料
           const divSpots =  datas.spotsResult.map(spot=>{
                const { spotId, spotTitle, spotImage, address, spotDescription } = spot;
                return(`
                           <div class="col">
                <div class="card h-100">
                    <img src="${spotImage}" class="card-img-top" alt="${spotTitle}">
                    <div class="card-body">
                      <h5 class="card-title">${spotId} - ${spotTitle}</h5>
                               <p class="card-text">${spotDescription.length <= 100 ? spotDescription : spotDescription.substring(0,100)}</p>
                    </div>
                    <div class="card-footer">
                                <small class="text-body-secondary">${address}</small>
                    </div>
                </div>
            </div>
                
                
                `)
            })
           div1.innerHTML = divSpots.join("");

           //分頁
           // console.log(datas.totalPages);
            let liPaging = "";
            for (let i = 1, max = datas.totalPages; i <= max;i++){
                liPaging += ` <li class="page-item" onclick="pagingHandler(${i})"><a class="page-link" href="#">${i}</a></li>`
            }
            ulPaging.innerHTML = liPaging;
        };

        //分頁
        const pagingHandler = page=>{
            searchData.page = page;
            loadSpots();
        }

        //關鍵字搜尋
        inpKeyword.addEventListener('keydown', event => {
           // console.log(event.which); //Enter => 13
            if (event.which === 13) {
                searchData.keyword = event.target.value;
                searchData.page = 1;
                loadSpots();
            }
        })

        loadSpots();


    </script>
}

